.spreadSec {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.innerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spreadInputs {
    width: 30%;
    text-align: right;
    padding: 1.5%;
    font-size: 17px;
}

.spreadHeader {
    width: 50%;
    margin-top: 7%;
    text-align: center;
}

.submissionSpreadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.loadGif {
    height: 130%;
    width: auto;
}

@media screen and (max-width: 800px) {
    .spreadSec {
        width: 100%;
        padding-bottom: 5%;
    }

    .spreadInputs {
        width: 60%;
        padding: 3%;
        border-radius: 3px;
    }

    .spreadHeader {
        width: 75%;
    }
}