.header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    flex-direction: row-reverse;
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(198, 196, 199);
    box-shadow: 0 3px 4px rgb(116, 131, 126);
}

.computer-nav {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    height: auto;
    padding-right: 2%;
}

.phone-nav {
    display: none;
    width: 20%;
    position: fixed;
    z-index: 1;
    align-items: center;
    transition: all ease 1s;
    border-bottom-right-radius: 40%;
}

.phone-menu-div {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.nav-icons {
    background-color: transparent;
    width: auto;
    padding: 22px;
    text-decoration-line: none;
    color: black;
    transition: 1.5s;
    border: 0;
}

.arrow-icon {
    align-self: flex-start;
}

.link {
    display: inline-block;
    right: 0;
    width: auto;
    padding: 1.5% 3%;
    font-size: 150%;
    color: rgb(33, 57, 49);
    text-decoration-line: none;
}

.link:hover {
    background-color: rgb(160, 178, 173);
}

.headerGif {
    position: absolute;
    left: 0;
    height: 80%;
    width: auto;
    padding-left: 2%;
}


@media screen and (max-width: 800px) {
    .computer-nav {
        display: none;
    }

    .phone-nav {
        display: flex;
        flex-direction: column;
    }
}