.socialNav {
    display: none;
    width: auto;
    height: auto;
}

.social-nav-icon {
    position: fixed;
    transition: all 1s ease-in 1s;
}

.socialIconsDiv {
    width: auto;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 50%;
}

@media screen and (max-width: 700px) {
    .socialNav {
        display: inline;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}