.images {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
}

.aboutMe {
    color: rgb(255, 255, 255);
    font-size: 200%;
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: flex-start;
    background: url("../Images/pic-108.jpg") no-repeat bottom;
    background-size: cover;
}

.parDiv {
    width: 70%;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    right: 2%;
}

.aboutPar {
    margin: 0;
    padding: 20px;
    text-align: right;
}

.aboutHeader {
    margin: 0;
    padding: 20px;
    text-align: right;
}

@media screen and (max-width: 700px) {
    .aboutPar {
        font-size: 70%;
    }

    .aboutHeader {
        font-size: 150%;
    }

    .parDiv {
        width: 85%;
    }
}
