.contactSec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.innerContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.contactInputs {
    text-align: right;
    padding: 5%;
    width: 100%;
    font-size: 17px;
}

.contactHeader {
    width: 100%;
    text-align: center;
}

#message {
    height: 50px;
}

.submissionContactButton {
    margin-bottom: 2%;
    align-self: flex-start;
}

@media screen and (max-width: 700px) {
    .contactSec {
        width: 100%;
    }

    .innerContact {
        width: 60%;
    }

    .contactHeader {
        margin-top: 10%;
    }

    .contactInputs {
        width: 100%;
        padding: 5%;
        border-radius: 3px;
    }

    .submissionContactButton {
        align-self: flex-start;
    }
}
