html, body, :root {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-family: Rubik;
    scroll-behavior: smooth;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@font-face {
    font-family: Rubik;
    src: url('./Rubik-font/Rubik-VariableFont_wght.ttf');
}
